html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(252, 197, 206, 0.75), rgba(0, 0, 0, 0.5)),url(./Assets/bananabackground.jpg);
    height: 100%;
    margin: 0;
}

h1{
    size: 34px;
    font-weight: 800;
}

h2{
    font-weight: 700;
    font-size: 30px;
}

.possibleanswer {
    font-size: 16px;
}

.row{
    margin-left:0;
}

section{
    width:100%;
}

.scoreandtime{
    background-color: rgb(252, 166, 209, 0.75);
    width: 100%;
    position: fixed;
    margin-left: -15px;
    border-bottom: 5px rgb(252, 197, 206, 0.75) solid;
}

.container-fluid{
    height: 100%;
    width: 100%;
    display: grid;
    align-content: center;
}

.quiz-frame{
    margin: auto;
    background-color:rgb(248, 240, 240, 0.75);
    border:rgba(255, 252, 71, 0.75) 6px groove;
    padding: 30px 10px;
    
}

.feedback {
    margin: auto;
    color: white;
    text-shadow: rgb(88, 88, 88) 2px 2px;
    padding-top: 10px;
}

.result{
    background-color:white;
    font-weight:bold;
    font-size:18px;
    padding:10px;
    position:fixed;
    width:100%;
    bottom:0;
    border-top:2px solid black;
    margin-left:-15px;
    opacity:0;
}
  
.btn{
    color:white;
    background-color:black;
    padding:2px 7px;
    margin:10px 10px 10px 0;
}

.btn:hover{
    background-color:rgb(124, 124, 124)
}

p.winnerscreen{
    font-size: 18px;
}

#highscore{
    font-size: 30px;
    color:green;
}

#highscore:hover{
    color: brown;
}

#timeleft {
    color: green;
    font-size: 30px;
}

#timeleft:hover {
    text-decoration: underline;
    color: brown;
}
